
<%="Karlie"+"Christine"+"Celine"+"Natalie"+"Cece"+"Joe"+"Pelumi"+"Hope"%> 

<p>Here is a random number</p><%=x=rand(0..100)%>
<!---->rand is the command that chooses something random between the numbers in the parentheses (0-100)-->
<% if x % 2 == 0 %>
<p>Even</p>
<% else %>
<p>Odd</p>
<% end %>